/* *{
  border: 1px solid red;
} */
ul{
  list-style: none;
}

.jumbotron{
  background: linear-gradient(0deg,#fff,transparent),
              url('https://placeimg.com/1000/500/tech') no-repeat center;
  background-size:  cover;
}

.title-letter{
  	font-family: 'Megrim', cursive;
    font-weight: bold;
}

:target, .highlight:hover{
  box-shadow: 0px 0px 10px 15px rgba(0,0,0, .4);
}

.highlight{
  border: 1; 
}

.social-media-contact a::after{
  margin: 10px;
  display: inline-block;  /* you need to put this, that way you can modify the shape of the element */
  width: 25px;
  height: 25px;
  border-radius: 50%;

}

.instagram::after{
  content: url(./media/instagram.svg);
  
}
.facebook::after{
  content: url(./media/facebook.svg);
  
}
.twitter::after{
  content: url(./media/twitter.svg);
  
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  width: 25%;
}

/* The Modal (background) */
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;  
  max-width: 1200px;
  /* height: 43rem; */
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  /* height: 43rem; */
  
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
 
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
/*Image galery*/
img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.galery{
  display: flex;
  flex-direction: row;
}
.galery img{
  size: 100%;
}
.jumbotron{  
  background: linear-gradient(0deg,#fff,transparent), url(./media/beck1-min.jpg) no-repeat center;
}
/*footer*/
footer{
  /* background: rgb(255,255,255); */
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%,  rgba(108,117,125,0.7) 100%);
}

/* -------Animation---------- */

.vibrate-1:hover {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
  40% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  60% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  80% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/* Nav bar */
.nav-link:hover{
 transform: scale(1.2);
}
/* Popper style*/
#tooltip ,
#tooltip1{
  background: #17a2b8;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}
    #arrow,
  #arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
  }

  #arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #17a2b8;
  }
  #tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
  }

  #tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
  }

  #tooltip[data-popper-placement^='left'] > #arrow {
    right: 0px;
  }

  #tooltip[data-popper-placement^='right'] > #arrow {
    left: -8px;
  }
  #tooltip {
    /* ... */
    display: none;
  }

  #tooltip[data-show] {
    display: block;
  }
  /* #tooltip[data-popper-placement^='right'] > #arrow {
    left: -8px;
  }
     */